.break {
  white-space: pre-wrap;
  overflow-x: auto;

  & > * {
    white-space: pre-wrap;
  }
}

.container {
  margin-top: 100px;
}

.draft-js-editor {
  padding: 1rem;
  background-color: #DDD;
}

.loading-text {
  text-align: center;
}

.mini-counts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 0.75rem;
  padding: 0.5rem;
  margin: 0 0.25rem;

  & > * {
    text-align: center;
  }
}

.question-link {
  display: flex;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid grey;

  &:hover {
    text-decoration: none !important;
  }
}

.selected {
  color: black;
}

.text-medium {
  font-size: 3rem;
}

.tag {
  padding: 0 0.5rem;
  margin-right: 0.25rem;
  background-color: #E1ECF4;
  border-radius: 0.25rem;
  color: #39739d;
}