.header {
  width: 100vw;
  max-width: 100%;
  align-items: center;
  background-color: #555;
  justify-content: space-around;
  color: white;
  display: flex;
  min-height: 50px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.header-title {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.header-links {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  & > a {
    color: white;
  }

  & > a:hover {
    color: yellow;
  }
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}
@media (max-width: 450px) {
  .header > * {
    flex-direction: column;
    width: 100%;

    a,
    span {
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}