body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
p {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
}

textarea[class="textarea-body"] {
  min-height: 200px;
}

.break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;

  & > * {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-line;
  }
}