body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  margin: 30px;
}
// .fadeInOut {
//   animation: fadeInOut 2s ease-in-out;
//   @keyframes fadeInOut {
//     0%,
//     100% {
//       opacity: 0;
//     }
//
//     25% {
//       opacity: 1;
//     }
//
//     75% {
//       opacity: 1;
//     }
//   }
// }