body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
p {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
}

textarea[class="textarea-body"] {
  min-height: 200px;
}

pre {
  padding: 1rem;
  background-color: #CCC;
  margin: 0;
}

pre code {
  color: black !important;
}

.break {
  white-space: pre-wrap;
  overflow-x: auto;

  & > * {
    white-space: pre-wrap;
  }
}